@import '../../resources.scss';

.Input {
  min-width: 255px;
  min-height: 48px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include borderRadiusLight;

  &_focused {
    border: 1px solid $colorPrimary;
  }

  &_blured {
    border: 1px solid $colorGray;
  }

  &__label {
    @include fontSize(xs);
    color: $colorGrayMedium;
    padding: 5px 15px 0;
  }

  &__element {
    @include fullSize;
    outline: none;
    border: 0;
    @include transition;
    padding: 5px 15px;
    @include fontSize(md);
    color: inherit;
    font-family: inherit;
    @include borderRadiusLight;

    &::placeholder {
      color: $colorGray;
    }
  }
}
