head
    title Offerbrite reset password    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    style(type='text/css').
        #ko_compactarticleBlock_4 .articletextintenseStyle a, #ko_compactarticleBlock_4 .articletextintenseStyle a:link, #ko_compactarticleBlock_4 .articletextintenseStyle a:visited, #ko_compactarticleBlock_4 .articletextintenseStyle a:hover{
        color: #ffffff;
        color: ;
        text-decoration: none;
        font-weight: bold;
        text-decoration: none
        }
        #ko_compactarticleBlock_4 .articletextlightStyle a, #ko_compactarticleBlock_4 .articletextlightStyle a:link, #ko_compactarticleBlock_4 .articletextlightStyle a:visited, #ko_compactarticleBlock_4 .articletextlightStyle a:hover{
        color: #3F3D33;
        color: ;
        text-decoration: none;
        font-weight: bold;
        text-decoration: none
        }
    style(type='text/css').
        /* CLIENT-SPECIFIC STYLES */
        #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" message */
        .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{line-height: 100%;} /* Force Hotmail to display normal line spacing */
        body, table, td, a{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
        table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
        img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */
        /* RESET STYLES */
        body{margin:0; padding:0;}
        img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
        table{border-collapse:collapse !important;}
        body{height:100% !important; margin:0; padding:0; width:100% !important;}
        /* iOS BLUE LINKS */
        .appleBody a{color:#68440a; text-decoration: none;}
        .appleFooter a{color:#999999; text-decoration: none;}
        /* MOBILE STYLES */
        @media screen and (max-width: 525px) {
        /* ALLOWS FOR FLUID TABLES */
        table[class="wrapper"]{
        width:100% !important;
        min-width:0px !important;
        }
        /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
        td[class="mobile-hide"]{
        display:none;}
        img[class="mobile-hide"]{
        display: none !important;
        }
        img[class="img-max"]{
        width:100% !important;
        max-width: 100% !important;
        height:auto !important;
        }
        /* FULL-WIDTH TABLES */
        table[class="responsive-table"]{
        width:100%!important;
        }
        /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
        td[class="padding"]{
        padding: 10px 5% 15px 5% !important;
        }
        td[class="padding-copy"]{
        padding: 10px 5% 10px 5% !important;
        text-align: center;
        }
        td[class="padding-meta"]{
        padding: 30px 5% 0px 5% !important;
        text-align: center;
        }
        td[class="no-pad"]{
        padding: 0 0 0px 0 !important;
        }
        td[class="no-padding"]{
        padding: 0 !important;
        }
        td[class="section-padding"]{
        padding: 10px 15px 10px 15px !important;
        }
        td[class="section-padding-bottom-image"]{
        padding: 10px 15px 0 15px !important;
        }
        /* ADJUST BUTTONS ON MOBILE */
        td[class="mobile-wrapper"]{
        padding: 10px 5% 15px 5% !important;
        }
        table[class="mobile-button-container"]{
        margin:0 auto;
        width:100% !important;
        }
        a[class="mobile-button"]{
        width:80% !important;
        padding: 15px !important;
        border: 0 !important;
        font-size: 16px !important;
        }
        }
    body(style='margin: 0; padding: 0;', bgcolor='#ffffff', align='center')
    // PREHEADER
    table#ko_preheaderBlock_1(border='0', cellpadding='0', cellspacing='0', width='100%', style='min-width: 530px;')
        tbody
        tr
            td.mobile-hide(bgcolor='#3F3D33')
            div(align='center', style='padding: 0px 15px 0px 15px;')
                table.wrapper(border='0', cellpadding='0', cellspacing='0', width='500', style='min-width: 500px;')
                // Preheade/view on web TEXT
                tbody
                    tr
                    td(style='padding: 10px 0px 10px 0px;')
                        table(border='0', cellpadding='0', cellspacing='0', width='100%')
                        tbody
                            tr
                            td.mobile-hide(bgcolor='#3F3D33', width='50%', align='left')
                                table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                tbody
                                    tr
                                    td(align='left', style='padding: 0 0 5px 0; font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;')
                                        span(style='color: #ffffff; text-decoration: none;')
                                        strong Offerbrite
                            td.mobile-hide(bgcolor='#3F3D33', width='50%', align='right')
                                table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                tbody
                                    tr
                                    td(align='right', style='padding: 0 0 5px 0; font-size: 12px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;')
                                        a(href='http://159.65.124.118:4040', style='color: #ffffff;', target='_new')
                                        span
                                            strong
                                            | HOME PAGE
                                            br
    table#ko_compactarticleBlock_4(border='0', cellpadding='0', cellspacing='0', width='100%')
        tbody
        tr.row-b(style=';')
            td.section-padding(bgcolor='#EDE8DA', align='center', style='padding: 0px 15px 0px 15px;')
            table.responsive-table(border='0', cellpadding='0', cellspacing='0', width='500', style='padding: 0 0 20px 0;')
                tbody
                tr
                    td.mobile-hide(valign='top', style='padding: 40px 0 0 0;')
                    img(alt='', width='105', border='0', style='display: block; font-family: Arial; color: #3F3D33; font-size: 14px; width: 105px;', src='https://mosaico.io/srv/f-z8yj1t3/img?src=https%3A%2F%2Fmosaico.io%2Ffiles%2Fz8yj1t3%2Flogo-red%2520%25281%2529.png&method=resize&params=105%2Cnull')
                    td.no-padding(style='padding: 40px 0 0 0;')
                    // ARTICLE
                    table(border='0', cellspacing='0', cellpadding='0', width='100%')
                        tbody
                        tr
                            td.padding-meta(align='left', style='padding: 0 0 5px 25px; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #3F3D33;')
                            strong OFFERBRITE
                        tr
                            td.padding-copy(align='left', style='padding: 0 0 5px 25px; font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #3F3D33;')
                            strong Reset password
                        tr
                            td.padding-copy.articletextlightStyle(align='left', style='padding: 10px 0 15px 25px; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33;')
                            p
                                | Hi #{ username }!
                                br
                                | Push the button below to create a new password for 
                                g#40.gr_.gr_40.gr-alert.gr_gramm.gr_inline_cards.gr_run_anim.Grammar.only-ins.doubleReplace.replaceWithoutSep(data-gr-id='40') Offerbrite
                                |  app.
                                br
                                | The link will be active for 1 hour.
                        tr
                            td.padding(style='padding: 0 0 45px 25px;', align='left')
                            table.mobile-button-container(border='0', cellspacing='0', cellpadding='0')
                                tbody
                                tr
                                    td(align='center')
                                    // BULLETPROOF BUTTON
                                    table.mobile-button-container(width='100%', border='0', cellspacing='0', cellpadding='0')
                                        tbody
                                        tr
                                            td.padding-copy(align='center', style='padding: 0;')
                                            table.responsive-table(border='0', cellspacing='0', cellpadding='0')
                                                tbody
                                                tr
                                                    td(align='center')
                                                    a.mobile-button(target='_new', style='display: inline-block; font-size: 15px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #9C010F; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-bottom: 3px solid #5f0109;', href=url)
                                                        strong Reset password →
